.button {
  background: white;
}
.tooglebutton {
  background: grey;
  border: 7px solid blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.cards {
  display: flex;
  width: 350px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
.cards > div {
  margin-top: 10px;
}
